#image{
    margin-top: 50px;
    margin-left: 50px;
}
#image-id{
    margin-left: 50px;
}
#details{
    margin-top: 50px;
    margin-left: 50px;
}
tr{
    padding: 10px;
}
td{
    
    padding: 10px;
}
